@use '../globals.module.scss' as *;

.home {
  text-align: center;
  min-height: 100dvh;
  position: relative;
}

.main-header > h1 {
  color: $clr-text;
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 0;
}

.main-header > a {
  margin-top: 0;
  margin-bottom: 3rem;
  color: $clr-light;
  text-decoration: none;
}

h2 {
  color: $clr-text;
  font-weight: 400;
}

h3 {
  color: $clr-text;
}

.gallery {
  margin-block: 4rem;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: fit-content;
}

.gallery > a {
  text-decoration: none;
  color: $clr-text;
  transition: 0.3s;
}

.gallery > a:hover {
  transform: scale(1.25);
  filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.5));
  margin-inline: 2rem;
}

.gallery > a > img {
  border: 2px solid black;
}

.caption {
  margin: 0;
  text-align: center;
}

@media (max-width: 1023px) {
  .home {
    margin-inline: 1rem;
  }

  .gallery {
    flex-direction: column;
  }

  .gallery > a:hover {
    transform: scale(1.15);
  }
}