@use './globals.module.scss' as *;

:root {
  font-family: jost, sans-serif;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: $clr-primary;
	background: linear-gradient(-45deg, $clr-primary, $clr-dark);
	background-size: 1000% 1000%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

nav {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 100dvw;
  padding-block: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

li {
  margin-block: 1rem;
}

li > a {
  text-decoration: none;
  color: $clr-text;
  font-size: 1.25rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

li > a:hover {
  border-bottom: 2px solid $clr-text;
}

.active-link {
  color: $clr-light;
  border-bottom: 2px solid $clr-light;
}

.active-link:hover {
  border-bottom: 2px solid $clr-light;
}

.copyright-disclaimer {
  position: absolute;
  bottom: 0;
  padding-bottom: 1.25rem;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0;
}

@media (max-width: 1023px) {
  ul {
    margin-inline: 1rem;
  }
}